<%- include("partials/header"); -%>
<h1> Compose </h1>

	<form class="" action= "/compose" method="post">
	<div class="form-group">
		<label>Title </label>
		<input type="text" class="form-control" name="postName">
		<label> Write here </label>
		<textarea name="postBody" cols="40" class="form-control" rows="5"></textarea>
		<button type= "submit" class="btn btn-primary" name= "button">Publish</button>
	</div>
	</form>
<%- include("partials/footer"); -%>